<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <title>ENCUESTA</title>
</head>

<body>
  <ul style="list-style: none;">
    <li>hola soy una encuesta de satisfacción</li>
  </ul>
</body>

</html>